@import url("https://fonts.googleapis.com/css2?family=Dosis");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi&display=swap');

// Colors
$orange: #e67700;
$yellow: adjust-hue($orange, 30deg);
$chartreuse: adjust-hue($orange, 60deg);
$limegreen: adjust-hue($orange, 90deg);
$seafoam: adjust-hue($orange, 120deg);
$skyblue: adjust-hue($orange, 150deg);
$medblue: lighten(adjust-hue($orange, 180deg), 6%);
$royalblue: adjust-hue($orange, -150deg);
$purple: adjust-hue($orange, -120deg);
$hotpink: adjust-hue($orange, -90deg);
$dksalmon: adjust-hue($orange, -60deg);
$redorange: adjust-hue($orange, -30deg);

$accent3: lighten($hotpink, 10%);
$accent2: $seafoam;
$accent: $chartreuse;
$headings: $accent;
$contrast: $medblue;
$orangeborder: darken($orange, 20%);
$warning: darken($redorange, 50%);
$nav: $dksalmon;
$valid: $hotpink;
$background: $orange;
$background2: $contrast;
$background: darken($orange, 10%);
$bgmoz: -moz-linear-gradient(180deg, rgba(3,0,202,1) 0%, rgba(224,228,0,1) 67%);
$bgweb: -webkit-linear-gradient(180deg, rgba(3,0,202,1) 0%, rgba(224,228,0,1) 67%);
$bgfilter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0300ca",endColorstr="#e0e400",GradientType=1);
$lgradient: linear-gradient(180deg, lighten($orange, 20%), lighten($contrast, 10%));
$hgradient: linear-gradient(180deg, rgba(3,0,202,1), rgba(224,228,0,1));
$vgradient: linear-gradient(90deg, rgba(3,0,202,1), rgba(224,228,0,1));
$newhgradient: linear-gradient(
    180deg,
    hsl(241deg 100% 40%) 0%,
    hsl(69deg 9% 60%) 52%,
    hsl(61deg 100% 45%) 100%
  );
  $newvgradient: linear-gradient(
      90deg,
      hsl(241deg 100% 40%) 0%,
      hsl(69deg 9% 60%) 52%,
      hsl(61deg 100% 45%) 100%
    );

$debug: rgb(190, 255, 60);

$dkgrey: #3a3a3a;
$mdgrey: #686868;
$ltgrey: #bababa;
$orangeshadow: rgba(234, 250, 93, 0.95);
$mdgreyshadow: rgba(255, 227, 100, 0.75);
$oldwarning: #bd0000;

$formshadow: 0 0 10px $orange;
$greyshadow: 0 0 20px $mdgrey;
$radius: 10px;
$border: 2px solid $orange;
$borderb: 4px solid $orange;
$borderwarn: 4px solid $warning;
$bordervalid: 4px solid $valid;
$buttonborder: 4px solid white;
$inputborder: 4px solid $orangeborder;
$legendborder: 4px solid $mdgrey;

// Fonts
$fontfirst: 'Hubbali', sans-serif;
$fontsecond: 'Handlee', cursive;
$font1: max(1vh);
$font2: max(2vh);
$font3: max(3vh);
$font4: max(4vh);
$font5: max(5vh);
$font6: max(6vh);
$font7: max(7vh);
$fonth1: max(10vh);

// Dimensions
$cardwidth: max(28);
$htmob: max(6vh);
$htlg: max(7vw);
$htdesc: max(18vh);
$cht: max(60vh);
$height: max(35vh);

$headerfont: "Handlee", sans-serif;
$textfont: "Hubbali", sans-serif;
$headingfont: "Nunito", sans-serif;

// Font Awesome Icons
$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.15.4" !default;
$fa-border-color:      $orange !default;
$fa-inverse:           $contrast !default;
$fa-li-width:          2em !default;
$fa-fw-width:          20em;
$fa-orange-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

html {
    height: 100vh;
}

.title {
    background: black;
    color: $yellow;
    font-size: $font3;
    margin: 4vw auto;
    padding: 2vw;
    border-radius: $radius;
  }

body {
    padding: 0;
    margin: 0;
    background: $orange;
    background: $bgmoz;
    background: $bgweb;
    background: $newhgradient;
    filter: $bgfilter;
    color: $contrast;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.color3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 2vw;
    background: transparent;
    border: $buttonborder;
    border-radius: $radius;
    margin: 4vw;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
    padding: 2vw;
    background: transparent;
    border: $buttonborder;
    border-radius: $radius;
    max-width: 100%;
    margin: 2vw;
    bottom: -2vw;
}

.buttons {
    background: $accent3;
    border: $buttonborder;
    border-radius: $radius;
    margin: 1vw auto;
    width: 100%;
    height: 10vh;
    padding: 1vw;
    color: $contrast;
    font-size: 1vw;
    font-weight: bold;
    font-family: $fontfirst;
    display: grid;
    grid-template-columns: 1fr;
    & .icon {
        margin: 0 auto;
        width: 4vw;
        height: 4vw;
    }
}

.padit {
    padding: 2vw;
    max-width: 100%;
    margin: 1vw;
}

.f1 {
    font-family: $fontfirst;
}

.f2 {
    font-family: $fontsecond;
}

.gridparts {
    border: 5px solid white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 2vw;
    max-width: 100%;
    font-size: $font3;
    font-weight: bolder;
    background: black;
}

.orange { background: #bbbbbb; color: $orange; margin: 0; }
.yellow { background: #bbbbbb; color: $yellow; margin: 0; }
.chartreuse { color: $chartreuse; margin: 0; }
.limegreen { color: $limegreen; margin: 0; }
.seafoam { color: $seafoam; margin: 0; }
.skyblue { color: $skyblue; margin: 0; }
.medblue { color: $medblue; margin: 0; }
.royalblue { color: $royalblue; margin: 0; }
.purple { color: $purple; margin: 0; }
.hotpink { color: $hotpink; margin: 0; }
.dksalmon { color: $dksalmon; margin: 0; }
.redorange { background: #bbbbbb; color: $redorange; margin: 0; }


.bordered {
    border: 2px solid hotpink;
    padding: 10px;
    margin: 10px;
}

.navbar {
    background:#6ab446;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}


@media screen and (min-width: 768px) {

    .navbar-collapse {
        justify-content: center;
    }

    .color3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
