@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Handlee&amp;family=Hubballi&amp;family=Nunito:wght@300&amp;family=Yanone+Kaffeesatz:wght@200;300;400;500&amp;display=swap");
body {
  grid-template-areas: "header" "main" "footer";
}
body header {
  grid-area: header;
  grid-template-columns: 2fr 1fr;
}
body header #main-nav {
  display: grid;
  grid-area: main-nav;
  grid-template-areas: "list";
}
body header #main-nav ul {
  display: grid;
  grid-area: list;
  grid-template-areas: "list-item";
}
body header #main-nav ul li {
  display: grid;
}
body header #main-nav ul li a {
  grid-area: list-item;
}

#gridcontainer {
  position: relative;
  min-height: 100vh;
  grid-area: gridcontainer;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "left" "right";
}
#gridcontainer autofooter {
  position: absolute;
  bottom: 0;
}
#gridcontainer #signInForm {
  grid-area: right;
}
#gridcontainer #signUpForm {
  grid-area: right;
}
#gridcontainer #left {
  grid-area: left;
  width: 100%;
  margin: 2% auto;
}
#gridcontainer #right {
  grid-area: right;
  width: 100%;
  margin: 2% auto;
}
#gridcontainer #right #addbar {
  display: grid;
  max-width: 100%;
  grid-area: addbar;
  gap: 1%;
  margin: 2%;
  grid-template-areas: "catinput addinput addbtn";
  cursor: pointer;
}
#gridcontainer #right #addbar #catinput {
  grid-area: catinput;
  background: #ffd700;
  border: 2px solid white;
}
#gridcontainer #right #addbar #addinput {
  grid-area: addinput;
  background: #ffd700;
  border: 2px solid white;
}
#gridcontainer #right #addbar #addbtn {
  grid-area: addbtn;
  font-size: 2rem;
  padding: 1% 2%;
  border-radius: 10px;
  background: #ffd700;
  color: black;
  border: 2px solid white;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

.color3 {
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  padding: 4%;
  border-radius: 10px;
  margin: 4% auto;
  font-family: "Hubbali", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 90%;
}

.orange {
  background: black;
  color: #ff5800;
  margin: 0;
}

.yellow {
  background: black;
  color: #ffd700;
  margin: 0;
}

.chartreuse {
  background: black;
  color: #a8ff00;
  margin: 0;
}

.limegreen {
  background: black;
  color: #28ff00;
  margin: 0;
}

.seafoam {
  background: black;
  color: #00ff58;
  margin: 0;
}

.skyblue {
  background: black;
  color: #00ffd7;
  margin: 0;
}

.medblue {
  background: black;
  color: #0057b7;
  margin: 0;
}

.royalblue {
  background: black;
  color: #0500b7;
  margin: 0;
}

.purple {
  background: black;
  color: #6000b7;
  margin: 0;
}

.hotpink {
  background: black;
  color: #b700b3;
  margin: 0;
}

.dksalmon {
  background: black;
  color: #b70057;
  margin: 0;
}

.redorange {
  background: black;
  color: #b70500;
  margin: 0;
}

#newsfeed {
  display: grid;
  grid-template-columns: 1fr;
}

a {
  color: white;
}

a:visited {
  color: lightcoral;
}

ul li {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: 0.8rem;
  padding: 1%;
}

.flipcard {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipcard:hover .flipcard-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipcard-front, .flipcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flipcard-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flipcard-back {
  background-color: grey;
  color: white;
  transform: rotateY(180deg);
}

input[type=checkbox].markbtn {
  content: " ";
  background: transparent;
  border-radius: 10px;
}

input[type=checkbox].markbtnX {
  content: "✕";
  color: #b70500;
  background: transparent;
  border-radius: 10px;
}

/*  TODO: FIX CHECKBOX WITH X IN IT  -- WHOLE CODE BELOW HERE BUT ABOVE OTHER COMMENT  */
/*  TODO: FIX CHECKBOX WITH X IN IT  -- WHOLE CODE ABOVE BUT UNDER OTHER COMMENT  */
.dojo {
  width: 80%;
  height: 800px;
  background-size: 100% auto;
  margin: 0 auto;
}

.quiz-body {
  border: 2px solid white;
  border-radius: 10px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.quizhead {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.quizcol {
  padding: 0 2%;
  display: grid;
  grid-template-columns: 6fr 1fr;
}

#question {
  font-size: 0.8rem;
}

#info, #question, #result {
  border-radius: 10px;
  width: 90%;
  margin: 2% auto;
}

.correct {
  background-color: #00ff58;
  color: #6000b7;
  font-weight: bold;
}

.wrong {
  color: #a8ff00;
  background-color: #b70500;
}

#result {
  padding: 2% 4%;
  font-family: "Hubbali", sans-serif;
}

#hint {
  color: #0500b7;
  background-color: #ffd700;
}

#hint, #next, #start {
  max-width: 100%;
  margin: 2%;
  padding: 1% 4%;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
}

#response {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  margin: 1.5rem;
  gap: 1rem;
  min-height: 6rem;
}

.bghotpink {
  background-color: hotpink;
}

.button {
  color: #ffffff;
  height: 10vh;
  background-color: #611BBD;
  border-color: #130269;
  border-radius: 4px;
  margin: 0.2em 0;
  display: block;
  max-width: 100%;
  font-size: 24px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

label:before {
  background-color: #28ff00;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

img {
  border-radius: 10px;
}

label img {
  border: 2px solid white;
  border-radius: 10px;
  padding: 0;
  height: 150px;
  width: 100px;
  margin-bottom: 1.5rem;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  transform: scale(0.9);
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  font-size: 2em;
  margin: auto;
  background-color: #28ff00;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

:checked + label h2 {
  transform: scale(1.25);
}

:checked + label img {
  transform: scale(1.05);
  transition-duration: 0.2s;
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

.slider-label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.sc-slider-ot {
  width: 100px;
  height: 150px;
  background: url("https://rus19023.github.io/scripturechase/src/img/ot/three_men_in_fiery_furnace-ot-tall.webp") no-repeat center center;
  margin: 2% auto;
  border-radius: 10px;
  -webkit-animation: sc-slide-ot 20s ease-in-out infinite;
          animation: sc-slide-ot 20s ease-in-out infinite;
}

@-webkit-keyframes sc-slide-ot {
  20% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
  40% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/moses_brass_serpent-ot-tall.webp") no-repeat center center;
  }
  60% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/joseph_resists_potiphars_wife-ot-tall.webp") no-repeat center center;
  }
  80% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/hannah_presents_son_samuel_barrett-ot-tall.webp") no-repeat center center;
  }
  100% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
}

@keyframes sc-slide-ot {
  20% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
  40% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/moses_brass_serpent-ot-tall.webp") no-repeat center center;
  }
  60% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/joseph_resists_potiphars_wife-ot-tall.webp") no-repeat center center;
  }
  80% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/hannah_presents_son_samuel_barrett-ot-tall.webp") no-repeat center center;
  }
  100% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
}
.sc-slider-ot:hover, .progress-bar:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.progress-bar {
  position: relative;
  top: -5px;
  width: 94%;
  height: 5px;
  background: #000;
  -webkit-animation: fullexpand 25s ease-out infinite;
          animation: fullexpand 25s ease-out infinite;
}

@-webkit-keyframes fullexpand {
  /* In these keyframes, the progress-bar is stationary */
  0%, 20%, 40%, 60%, 80%, 100% {
    width: 0%;
    opacity: 0;
  }
  /* In these keyframes, the progress-bar starts to come alive */
  4%, 24%, 44%, 64%, 84% {
    width: 0%;
    opacity: 0.3;
  }
  /* In these keyframes, the progress-bar moves forward for 3 seconds */
  16%, 36%, 56%, 76%, 96% {
    width: 100%;
    opacity: 0.7;
  }
  /* In these keyframes, the progress-bar has finished his path */
  17%, 37%, 57%, 77%, 97% {
    width: 100%;
    opacity: 0.3;
  }
  /* In these keyframes, the progress-bar will disappear and then resume the cycle */
  18%, 38%, 58%, 78%, 98% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes fullexpand {
  /* In these keyframes, the progress-bar is stationary */
  0%, 20%, 40%, 60%, 80%, 100% {
    width: 0%;
    opacity: 0;
  }
  /* In these keyframes, the progress-bar starts to come alive */
  4%, 24%, 44%, 64%, 84% {
    width: 0%;
    opacity: 0.3;
  }
  /* In these keyframes, the progress-bar moves forward for 3 seconds */
  16%, 36%, 56%, 76%, 96% {
    width: 100%;
    opacity: 0.7;
  }
  /* In these keyframes, the progress-bar has finished his path */
  17%, 37%, 57%, 77%, 97% {
    width: 100%;
    opacity: 0.3;
  }
  /* In these keyframes, the progress-bar will disappear and then resume the cycle */
  18%, 38%, 58%, 78%, 98% {
    width: 100%;
    opacity: 0;
  }
}
.sc-slider-nt {
  width: 100px;
  height: 150px;
  background: url("https://rus19023.github.io/scripturechase/src/img/ot/three_men_in_fiery_furnace-ot-tall.webp") no-repeat center center;
  margin: 2% auto;
  border-radius: 10px;
  -webkit-animation: sc-slide-ot 20s ease-in-out infinite;
          animation: sc-slide-ot 20s ease-in-out infinite;
}

@-webkit-keyframes sc-slide-nt {
  20% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
  40% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/moses_brass_serpent-ot-tall.webp") no-repeat center center;
  }
  60% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/joseph_resists_potiphars_wife-ot-tall.webp") no-repeat center center;
  }
  80% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/hannah_presents_son_samuel_barrett-ot-tall.webp") no-repeat center center;
  }
  100% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
}

@keyframes sc-slide-nt {
  20% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
  40% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/moses_brass_serpent-ot-tall.webp") no-repeat center center;
  }
  60% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/joseph_resists_potiphars_wife-ot-tall.webp") no-repeat center center;
  }
  80% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/hannah_presents_son_samuel_barrett-ot-tall.webp") no-repeat center center;
  }
  100% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
}
.sc-slider-bom {
  width: 100px;
  height: 150px;
  background: url("https://rus19023.github.io/scripturechase/src/img/ot/three_men_in_fiery_furnace-ot-tall.webp") no-repeat center center;
  margin: 2% auto;
  border-radius: 10px;
  -webkit-animation: sc-slide-ot 20s ease-in-out infinite;
          animation: sc-slide-ot 20s ease-in-out infinite;
}

@-webkit-keyframes sc-slide-bom {
  20% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
  40% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/moses_brass_serpent-ot-tall.webp") no-repeat center center;
  }
  60% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/joseph_resists_potiphars_wife-ot-tall.webp") no-repeat center center;
  }
  80% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/hannah_presents_son_samuel_barrett-ot-tall.webp") no-repeat center center;
  }
  100% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
}

@keyframes sc-slide-bom {
  20% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
  40% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/moses_brass_serpent-ot-tall.webp") no-repeat center center;
  }
  60% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/joseph_resists_potiphars_wife-ot-tall.webp") no-repeat center center;
  }
  80% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/hannah_presents_son_samuel_barrett-ot-tall.webp") no-repeat center center;
  }
  100% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
}
.sc-slider-dc {
  width: 100px;
  height: 150px;
  background: url("https://rus19023.github.io/scripturechase/src/img/ot/three_men_in_fiery_furnace-ot-tall.webp") no-repeat center center;
  margin: 2% auto;
  border-radius: 10px;
  -webkit-animation: sc-slide-ot 20s ease-in-out infinite;
          animation: sc-slide-ot 20s ease-in-out infinite;
}

@-webkit-keyframes sc-slide-dc {
  20% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
  40% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/moses_brass_serpent-ot-tall.webp") no-repeat center center;
  }
  60% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/joseph_resists_potiphars_wife-ot-tall.webp") no-repeat center center;
  }
  80% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/hannah_presents_son_samuel_barrett-ot-tall.webp") no-repeat center center;
  }
  100% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
}

@keyframes sc-slide-dc {
  20% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
  40% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/moses_brass_serpent-ot-tall.webp") no-repeat center center;
  }
  60% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/joseph_resists_potiphars_wife-ot-tall.webp") no-repeat center center;
  }
  80% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/hannah_presents_son_samuel_barrett-ot-tall.webp") no-repeat center center;
  }
  100% {
    background: url("https://rus19023.github.io/scripturechase/src/img/ot/adam_eve_altar-ot-tall.webp") no-repeat center center;
  }
}
* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  margin: 0;
  background: linear-gradient(180deg, hsl(211deg, 100%, 36%) 40%, hsl(69deg, 9%, 60%) 50%, hsl(51deg, 100%, 50%) 60%);
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  font-family: "Hubbali", sans-serif;
  font-weight: bold;
  color: #b9ff33;
  text-decoration: none;
}
a :hover {
  color: #c584ff;
}
a :visited {
  color: #33ffdf;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.no-spc {
  margin: 0 -15px;
}

#ocean {
  position: absolute;
  background-attachment: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.labels {
  border-radius: 10px;
  border: 2px solid white;
}

#social-share {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: none;
}
#social-share div {
  margin: 2%;
  border-radius: 10px;
  background: black;
  width: 2rem;
}
#social-share div button :hover {
  transform: scale(1.25);
  transition: all 0.1s ease-in-out;
}
#social-share div button img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.sharer {
  background: black;
  border: none;
}

.sharer img {
  height: 100%;
  width: 100%;
}

.table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.sjcol {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 2fr;
}

tr {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  text-align: left;
}

h3.small {
  font-size: 0.75rem;
  color: #ffd700;
}

.wave {
  background: #0057b7;
  display: inline-block;
  height: 60%;
  width: 10px;
  position: absolute;
  -webkit-animation-name: dostuff;
          animation-name: dostuff;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

@-webkit-keyframes dostuff {
  0% {
    height: 60%;
  }
  50% {
    height: 40%;
  }
  100% {
    height: 60%;
  }
}

@keyframes dostuff {
  0% {
    height: 60%;
  }
  50% {
    height: 40%;
  }
  100% {
    height: 60%;
  }
}
main, header, footer {
  max-width: 95%;
  border-radius: 10px;
  margin: 4% auto;
  padding: 1%;
}

main, header, section, footer, div {
  background: black;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
  max-width: 90%;
  margin: 1rem auto;
}

.whitebg {
  background: white;
  border-radius: 10px;
}

.maincontainer {
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flipcard {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: linear-gradient(180deg, hsl(211deg, 100%, 36%) 40%, hsl(69deg, 9%, 60%) 50%, hsl(51deg, 100%, 50%) 60%);
  border-radius: 10px;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: linear-gradient(180deg, hsl(211deg, 100%, 36%) 40%, hsl(69deg, 9%, 60%) 50%, hsl(51deg, 100%, 50%) 60%);
  border-radius: 10px;
  transform: rotateY(180deg);
}

.flipcard {
  transform: rotateY(180deg);
}

.flipcard:hover {
  transform: rotateY(180deg);
}

.imgbox {
  align-items: center;
  max-width: 90%;
  padding: 0.5rem;
  margin: 1%;
  max-height: 40%;
  font-size: 0.25rem;
}

.listdots {
  list-style: square;
}

.f1 {
  font-family: "Hubbali", sans-serif;
}

.f2 {
  font-family: "Handlee", cursive;
}

.fifty {
  width: 50%;
  margin: 1% auto;
}

.sevenO {
  width: 70%;
  margin: 1% auto;
}

.specialfont {
  font-family: "Hubbali", sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  color: #c584ff;
}

.form-group {
  margin-bottom: 1rem;
  background-color: #0500b7;
  color: #ffd700;
  padding: 1%;
  margin: 1% auto;
  display: grid;
  grid-template-columns: 1fr;
}
.form-group p .inputs {
  width: 33%;
}

.gridparts {
  border: 5px solid white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 2%;
  max-width: 100%;
}

.warning {
  color: #ff5551;
  font-weight: bold;
  font-family: "Hubbali", sans-serif;
  padding: 1%;
}

.marg {
  margin: 2% 10%;
}

.pad2 {
  padding: 2%;
}

.pad1 {
  padding: 1%;
}

.padleft {
  padding-left: 4%;
}

.padleft8 {
  padding-left: 8%;
}

h2#tab-bar {
  overflow: hidden;
  margin-left: 4%;
  bottom: 0;
  border-radius: 0;
  max-height: 4%;
}
h2#tab-bar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #b9ff33;
  padding: 1% 2%;
}

.col3 {
  width: 100%;
  grid-template-columns: 1fr 4fr 1fr;
}

#get-unit {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.exercise {
  border: 2px solid #ff5800;
  border-radius: 10px;
  margin: 2%;
}

.morespc {
  line-height: 1.5;
}

.centerimg {
  display: block;
  max-width: 90%;
  margin: auto;
}

.img50 {
  width: 50%;
}

img {
  font-size: 0.75em;
  color: #33ffdf;
  border-radius: 10px;
}

.listdots {
  list-style: square;
}

a.cert-text {
  font-size: 0.85rem;
  font-family: "Handlee", cursive;
  text-align: left;
  font-weight: bold;
  max-width: 100%;
  line-height: 1.5rem;
}

a:visited.cert-text {
  color: #33ffdf;
  font-family: "Handlee", cursive;
}

a.sub-text {
  font-size: 0.65rem;
  font-family: "Hubbali", sans-serif;
  color: #b9ff33;
  text-align: left;
  font-weight: bold;
  max-width: 100%;
}

a:visited.sub-text {
  color: #c584ff;
  font-family: "Hubbali", sans-serif;
}

.normal-text, .text, ul li {
  color: white;
  font-family: "Hubbali", sans-serif;
  text-align: left;
  font-size: 0.6rem;
  padding: 0 4%;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Handlee", cursive;
  font-weight: bold;
}

.titlefont {
  font-family: "Handlee", cursive;
}

.title {
  text-align: left;
  color: #ffd700;
  width: 100%;
  background: black;
  margin: 0 auto;
}

.title a {
  color: #b9ff33;
  text-decoration: none;
}
.title a:hover {
  color: #b700b3;
}

.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}

.hotpinkbg {
  background: #b700b3;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

.nodots {
  list-style-type: none;
}

.todo-text, p.todo-text {
  text-align: left;
  color: white;
  font-family: "Hubbali", sans-serif;
}

.markbtn {
  border-radius: 10px;
  margin: 0.5%;
  width: 6rem;
  height: 6rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.todo-buttons {
  color: #ffd700;
  background: #0500b7;
  border-radius: 10px;
  height: 2rem;
  font-size: 0.75em;
}
.todo-buttons a {
  text-decoration: none;
  color: #0500b7;
  text-align: center;
}
.todo-buttons a :hover {
  border: 2px solid #ffd700;
}

.todo-bordered {
  border: 2px solid white;
  border-radius: 10px;
}

.white {
  color: white;
}

.wborder {
  border: 4px solid white;
  border-radius: 10px;
}

.startbtn {
  width: 50%;
}

.quizbutton {
  min-height: 3rem;
  width: 100% !important;
  margin: 1% auto;
}

.buttons, .quizbutton {
  text-align: center;
  cursor: pointer;
  background: #0500b7;
  padding: 1%;
  border: 2px solid white;
  border-radius: 10px;
  color: #ffd700;
  font-size: small;
  font-family: "Hubbali", sans-serif;
}
.buttons a, .quizbutton a {
  width: 100%;
  text-decoration: none;
  color: #ffd700;
  margin-bottom: 4%;
}
.buttons a :hover, .quizbutton a :hover {
  color: #ffd700;
}
.buttons a :visited, .quizbutton a :visited {
  color: #ffd700;
}

.easteregg {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
}

.smbuttons {
  font-size: 0.9rem;
  margin: 0 auto;
  height: 2rem;
  max-width: 100%;
  border-radius: 10px;
}

.buttons-danger {
  text-align: center;
  cursor: pointer;
  background: #ffd700;
  padding: 1%;
  border: 4px solid white;
  border-radius: 10px;
  color: #b70500;
  font-family: "Hubbali", sans-serif;
  font-weight: bold;
}
.buttons-danger a {
  width: 100%;
  text-decoration: none;
  margin-bottom: 4%;
}

.padit {
  padding: 2%;
}

.padhead {
  padding: 1%;
}

#presentations {
  max-width: 100%;
  margin: 1% auto;
  padding: 2%;
}

#siteTitle2 {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.textarea,
.inputs {
  border-radius: 10px;
}

.footer {
  text-align: center;
}

.bwhite {
  background: white;
}

.foot-row {
  margin: auto;
}

textarea {
  width: 90%;
  height: 15%;
}

footer#autofooter, footer {
  color: #ffd700;
  font-family: "Handlee", cursive;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

a.source {
  text-align: left;
  color: #b9ff33;
  font-family: "Hubbali", sans-serif;
  padding: 2%;
  margin: 2rem auto;
  line-height: 1.2rem;
}
a.source a {
  text-decoration: none;
  font-weight: bold;
  color: #33ffdf;
}

.sources {
  text-align: left;
  line-height: 1.05;
  margin: 2% auto;
  font-family: "Handlee", cursive;
  font-weight: bold;
}

tr, td, th {
  padding: 2%;
  text-align: left;
}

tr {
  line-height: 1.5;
}

.code {
  background: #ffd700;
  color: #0500b7;
  border-radius: 10px;
  font-family: "Hubbali", sans-serif;
  font-weight: bold;
  font-size: medium;
  width: 90%;
  margin: 2% auto;
  text-decoration: none;
  list-style: none;
}

.todo-scratch {
  text-decoration: line-through;
}

.col1 {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
}

.icon {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  font-size: 0.25rem;
}

.icondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 85px;
  height: 85px;
  font-size: 0.25rem;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  background: black;
  border-radius: 10px;
}

.col5 {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  gap: 5%;
}

.nav, header {
  padding: 2%;
  margin: 2% auto;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

h1.title {
  font-size: 1.05rem;
}

h2.title {
  font-size: 1rem;
}

h3.title {
  font-size: 0.9rem;
}

#tabbar, h2.subtitle {
  font-size: 0.75rem;
  padding: 2%;
}

.sources {
  font-size: 0.8rem;
  color: #c584ff;
}

.normal-text, h4.title, .source, .todo-text {
  font-size: 0.7rem;
}

h2.subtitle {
  color: #ffd700;
  height: 3%;
  font-family: "Handlee", cursive;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 2%;
}

td.normal-text {
  color: #ffd700;
  font-family: "Hubbali", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

li.normal-text {
  list-style-type: square;
  margin: 0 auto;
}

@media screen and (min-width: 451px) {
  .quizhead {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  body {
    font-size: 13px;
  }

  .color3, .quizhead {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sc-slider-ot {
    background-size: 200px 300px;
    width: 200px;
    height: 300px;
  }

  #gridcontainer {
    border-radius: 20px;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .col2, .quizhead {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sc-slider-ot {
    background-size: 300px 450px;
    width: 300px;
    height: 450px;
  }

  body {
    font-size: 11px;
  }
}
@media screen and (min-width: 1500px) {
  body {
    font-size: 9px;
  }

  .col2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .color3 {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1700px) {
  body {
    font-size: 7px;
  }

  .color3 {
    grid-template-columns: repeat(7, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */